/* color scheme

Primary color: #00938f
Secondary color: #152874
Red highlight: #d9201b

*/


/* Replace browser default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 20px;
}

body {
    background-color: #fff;
    color: #333;
    line-height: 1.2;
}

h1 {
    color: #00938f;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
}

h2 {
    color: #00938f;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
}

h4 {
    color: #d9201b;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.8rem;
}
h3 {
    color: #d9201b;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #152874;
    font-size: 1rem;
}

small {
    font-family: "Montserrat", sans-serif;
    color: #152874;
    font-size: 0.8rem;
}

li {
    display: inline-block;
}

label {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1rem;
    border-style: none;
    padding: 0.2rem 0;
}

input, textarea {
    background-color: #fff;
    color: #00938f;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    border: 1px;
    border-radius: 0.1rem;
    padding: 0.2rem 0.5rem;
    outline: #00938f;
    width: 100%;
    margin-bottom: 0.5rem;
}

textarea {
    field-sizing: content;
    min-height: 4rem;
}

button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    color: #fff;
    border: 0;
    background-color: #d9201b;
    margin-top: 0.75rem;
    letter-spacing: 0.1rem;
}

/* Target auto-detected phone numbers on iOS (Safari) */
a[href^="tel"] {
  color: #fff; /* your custom color */
  text-decoration: none;
}

/* Header styles start here */

.header {    
    background-color: #fff;
    border-bottom: 3px solid #00938f;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

:target {
  scroll-margin-top: 140px; /* equal to your header height */
}

.links-container {
    background-color: #00938f;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktop-links {
    width: 100%;
    max-width: 1440px;
    min-width: 360px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.3em 15px;
}

.mobile-links {
    display: none;
}

.mobile-links i, .desktop-links i {
    color: #fff;
    margin-right: 0.5em;
}

.mobile-links li, .desktop-links li, .mobile-links a, .desktop-links a {
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.05rem;
    text-align: center;
    flex: 1;
}

#links-inner {
    flex: 1 1 auto;
}

#links-outer {
    flex: 1 2 auto;
}

.logo-container {
    max-width: 1440px;
    min-width: 360px;
    margin: 0 auto;
    padding: 10px 15px;
}

.logo {
    flex: 1 0 100%;
    text-align: center; /* ✅ allows logo to take up available space */
}

/* Switch links to mobile version on small screen */
    @media (max-width: 980px) {
    .mobile-links {
        width: 100%;
        max-width: 1440px;
        min-width: 360px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0.3em 15px;
    }

    .desktop-links {
        display: none;
    }
}

/* NAV BUTTONS GONE _ CAN REMOVE WHEN FINISHED 

@media (hover: hover) and (pointer: fine) {
    .nav-buttons a:hover {
        background-color: #00938f;
        color: #fff;
        transition: background-color 0.3s, color 0.3s;
    }

    .nav-buttons a:focus {
        background-color: initial;
        color: initial;
    }
} */


#Logo {
    height: 75px;
    margin-left: 0;
}


/* Body styles start here */

.container-body {
    max-width: 1440px;
    min-width: 360px;
    margin-top: 140px;
    margin: 0 auto;
    padding: 15px 15px;
}

.banner {
    aspect-ratio: 4 / 3;
    margin-top: 140px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* or contain, depending on desired behavior */
}

.slide {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.visible {
  opacity: 1;
}


/* Main body styles */
.body-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    gap: 0 20px;
}

.body-left {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.body-right {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
}

.body-content {
    padding: 1rem 0;
}

#location  {
    background-color: #152874;
    padding: 1rem;
    height: 100%;
}

#map {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map h2, #map h4, #map p {
    flex: 0;
}

#services ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#services li {
    font-family: "Bebas Neue", sans-serif;
    display: inline-block;
    padding: 0.5rem 0.5rem 0.5rem 0;
    color: #152874;
}

#services i {
  color: #00938f;
  margin-right: 0.5rem;
}

#contact {
    background-color: #00938f;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contact i {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#contact-intro {
    display: block;
    width: 100%;
}


#phone {
    text-align: center;
    flex: 1 0;
}

#form-container {
    flex: 1 0;
}

#phone h2 {
    font-size: 2rem;
    letter-spacing: 0.25rem;
}

#phone h4 {
    font-size: 1.2rem;
}

.body-right h2, .body-right p, .body-right h4, #contact h2, #contact p, #contact h4  {
    color: #fff;
}

.form-feature {
    text-align: left;
    width: 100%;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form input {
    max-width: 400px;
}

/* Leaflet Map Styles */
#service-map {
  min-height: 400px;
  flex: 1;
  width: 100%;
  border-radius: 6px;
  margin: 20px 0;
}
    /* Responsive adjustments */
@media (max-width: 600px) {
    #service-map {
        height: 300px;
    }

    #contact {
        display: block;
    }

    .form-feature {
        text-align: center;
    }

    #form input {
        max-width: none;
    }
}

/* Footer styles start here */
footer {
    text-align: center;
    font-size: 0.8em;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0;
}

/* SEO hidden text */
.hidden {
    display: none;
}
